.title {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}


.add-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px auto;
}

.add-button:hover {
  background-color: #45a049;
}


.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Styling untuk setiap kartu produk */
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  border-radius: 4px;
  height: 220px;
}

.product-name,
.product-price {
  margin: 10px 0;
  font-size: 1em;
  color: #555;
}


.update-button,
.delete-button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.update-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #d9534f;
}

.delete-button:hover {
  background-color: #c9302c;
}

/* Styling untuk form */
.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 360px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 94%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Styling untuk tombol dalam form */
.submit-button,
.cancel-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #d9534f;
}

.cancel-button:hover {
  background-color: #c9302c;
}